logs/*
build/*
lexi-venv/*
models/*
*.pyc
trash/
.idea
lexi.cfg
lexi/res/*
.ipynb_checkpoints/
res/
env-lexi/*
lexi/core/simplification/lexicalOLD.py
lexi/core/simplification/utilOLD.py
run_lexi_server.py
complexity_test.ipynb
train_default_cwi.py
