logs/*
build/*
lexi-venv/*
models/*
*.pyc
trash/
.idea
lexi.cfg
lexi/res/*
.ipynb_checkpoints/
res/
env-lexi/*
lexi/core/simplification/lexicalOLD.py
lexi/core/simplification/utilOLD.py
run_lexi_server.py
complexity_test.ipynb
train_default_cwi.py
complexity_test.py
*.pkl
train_default_ranker.py
.vscode/settings.json
google_freq_compress.py
annotation/*
pg_1_output.txt
pg_6_output.txt
demo-cwi-output/*
~$chnical-paper.docx
~WRL0003.tmp
testpage.html
testpage.json
technical-paper/*
data_CWI.json
data_RANKER.json
journal_article_paragraphs.txt
scripts/test_brute_force_ngram_speed.py
